@model Item
@{
    var user = UserManager.FindByIdAsync(Model.ItemOwner);
}
<title>@Model.Title</title>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-8">

            <div class="card mb-4">
                <div class="fotorama"
                     data-allowfullscreen="true"
                     data-nav="thumbs"
                     data-maxheight="500">
                    @{ 
                        string titleImage = Model.ImgPath.Count > 0 ?
                                            Model.ImgPath.FirstOrDefault().ItemImage : "/images/no_image.png";
    }
                        <a><img class="card-img-top" src="@titleImage"></a>
                </div>

            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="small text-muted">@Model.Created.ToShortDateString()</div>
                    <h2 class="card-title">@Model.Title</h2>
                    <p class="card-text">@Html.Raw(Model.Description)</p>
                    @*<a class="btn btn-primary" href="#!">Read more →</a>*@
                </div>
            </div>


        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">

            <!-- ad owner info widget-->
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-address-card"></i> @localizer["About_seller"]:</div>
                <div class="card-body">
                    <div class="row">

                        <div class="col">
                            <ul class="list-unstyled mb-0">
                                <li><i class="fas fa-user"></i> @user.Result.UserName</li>
                                <li><a href="#!">opt 2</a></li>
                                <li><a href="#!">opt 3</a></li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li><a href="#!"><i class="fas fa-envelope"></i> @localizer["Message"]</a></li>
                                    if (Model.ItemOwner == UserManager.GetUserId(User))
                                    {
                                        <li><a asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i> @localizer["Edit"]</a></li>
                                    }
                                }
                            </ul>

                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Quick send message
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="col">
                                                <textarea class="form-control mb-2" id="messageInput"></textarea>
                                            </div>
                                            <button type="button" id="sendButton" class="btn btn-sm btn-success">"SEND"</button>
                                            <input type="hidden" id="userInput" value="@User.Identity.Name" />
                                            <input type="hidden" id="currentUserID" value="@UserManager.GetUserId(User)" />
                                            <input type="hidden" id="itemOwner" value="@Model.ItemOwner" />
                                            <input type="hidden" id="itemId" value="@Model.Id" />
                                            <script type="text/javascript" src="~/js/pmHandler.js"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget 2</div>
                <div class="card-body">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    MESSAGES
                                  
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <ul id="messagesList" style="max-height:120px" class="overflow-auto">
                                        @{ if (Model.ItemMesages.Count > 0)
                                            {
                                                foreach (var pm in Model.ItemMesages)
                                                {
                                                    <li>@UserManager.FindByIdAsync(Model.ItemOwner).Result.Email [@pm.CreationTime.ToString("MM/dd/yyyy HH:mm:ss")]: @pm.Message</li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>