@model IEnumerable<Item>
@{
}

<script src="~/js/dataTable.js"></script>
<table id="dataTable" class="table align-middle mb-0" style="width:100%">
    <thead>
        <tr>
            <th>@localizer["Title"]</th>
            <th>@localizer["Description"]</th>
            <th>@localizer["Price"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string titleImage = item.ImgPath.Count > 0 ?
                item.ImgPath.FirstOrDefault(x => x.Item.Id == item.Id).ItemImage : "/images/no_image.png";
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@titleImage"
                             alt=""
                             style="width: 100px; height: 100px"
                             class="rounded-1" />
                        <div class="ms-3">
                            <a asp-controller="ItemCart" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
                            <div style="font-size:smaller">
                                <a>Posted: @item.Created.ToShortDateString()</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="text-break overflow-hidden mb-1" style="word-wrap: break-word">@Html.Raw(item.Description)</div>
                </td>
                <td>
                    <p class="fw-normal mb-1">@item.Price</p>
                </td>
            </tr>
        }
    </tbody>
</table>
